.btn{
    text-align: center;
    padding: 10px 20px;
    border: solid white;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.center{
    text-align: center;
    margin-top: 20%;
}

.btn:hover{
    background-color: rgb(71, 71, 71);
}