
.form{
    margin-top: 100px;
    margin-left: 20%;
    background-color: #ffffff;
    color: #212121de;
    max-width: 60%;
    padding: 20px;
    border-radius: 25px;
}

.form h2{
    margin-block: 20px;
}

.form button{
    padding: 5px;
}