.page{
    width: 900px;
    height: 1000px;
    margin-inline: auto;
    background-color: #ffffff;
    color: #212121de;
}

.flex{
    display: flex;
}

.print{
    font-size: 20px;
    padding: 6px 15px ;
    border: solid #ffffffde;
    border-radius: 5px;
    color: rgb(24, 157, 234);
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.print:hover{
    background-color: rgb(63, 63, 63);
}